<article class="flex flex-col items-start ">
    <div class="relative w-full">
        {{ if !hide_image}}
        <img src="{{ feature_image }}" alt="{{ feature_image:alt }}"
            class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
        {{ /if }}
        <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
    </div>
    <div class="max-w-xl">
        <div class="mt-8 flex items-center gap-x-4 text-xs">
            <time datetime="2020-03-16" class="text-gray-500">{{ today }}</time>
        </div>
        <div class="group relative">
            <h3 class="mt-3 {{title_class?? " text-lg"}} font-semibold leading-6 text-gray-900
                group-hover:text-gray-600">
                <a href="{{ url }}">
                    <span class="absolute inset-0"></span>
                    {{title}}
                </a>
            </h3>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
            <img src="{{ author:avatar }}" alt="" class="h-14 w-14 rounded-full bg-gray-100">
            <div class="text-sm leading-6">
                <p class="font-semibold text-gray-900">
                    <a href="#">
                        <span class="absolute inset-0"></span>
                        {{ author:name }}
                    </a>
                </p>
                <p class="text-gray-600">{{ today }}</p>
            </div>
        </div>
    </div>
</article>